[submodule "deps/node-expat"]
	path = deps/node-expat
	url = git://github.com/astro/node-expat.git
[submodule "deps/node-xmpp"]
	path = deps/node-xmpp
	url = git://github.com/astro/node-xmpp.git
[submodule "deps/node-base64"]
	path = deps/node-base64
	url = git://github.com/rasputnik/node-base64.git
